@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/admin.cshtml";

}

@model News_website.Models.Post

<div class="container mt-5">
    <h2>Xóa tin tức</h2>
    <p>Bạn có chắc chắn muốn xóa tin tức này?</p>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>
